{{ define "main" }}
    <body>
        <div id="wrapper">
            <div id="hr"></div>
            <div id="min"></div>
            <div id="sec"></div>
        </div>
        <script src="/layouts/script.js"></script>
        <style>body {
            background: linear-gradient(to bottom right, #feb930, #da1467);
            color: #eee;
            height: 100vh;
            display: grid;
            place-items: center;
            }
            
            #wrapper {
                display: flex;
                align-items: center;
                padding: 8px;
                position: relative;
                background: rgba(255, 255, 255, 0.25);
                backdrop-filter: blur(10px);
                border-radius: 10px;
            }
            
            #wrapper div {
                margin: 8px;
                width: 80px;
                height: 80px;
                border-radius: 5px;
                background: #0005;
                display: grid;
                place-items: center;
                font: bold 34px monospace;
                letter-spacing: 3px;
                position: relative;
                z-index: 5;
            }</style>
            <script>const hr = document.querySelector("#hr");
                const min = document.querySelector("#min");
                const sec = document.querySelector("#sec");
                
                const update = () => {
                    let date = new Date();
                    let h = date.getHours();
                    
                    hr.innerText = `0${h}`.slice(-2);
                    min.innerText = `0${date.getMinutes()}`.slice(-2);
                    sec.innerText = `0${date.getSeconds()}`.slice(-2);
                };
                setInterval(update, 1000);
                window.onload = update();</script>

    </body>
{{ end }}